[beszel]
url = "https://beszel.my.net"
identity = "admin@my.net"
password = "admin_password"
poll_interval = 15 # this is in seconds
load_averages_order = ["HOST1"]

[ntfy]
url = "https://ntfy.my.net" # currently authentication is not supported

[pihole]
url = "https://pihole.my.net"
password = "pihole_password"
